@import "../theme/theme";

.Title {
  font-size: 70px;
  font-weight: 700;

  margin-right: 200px;

  padding-bottom: 60px;
}

.SubTitle {
  font-size:25px;
  font-weight: 300;
  color: $primary-dark;
  font-style: italic;
  padding-top: -60px;
}