@import "../theme/theme";

.ResumeButton {
  padding: 10px;
  background: $secondary-dark;
  border: none !important;
  color: $secondary;
  font-weight: 800;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
